.main-block--who {
  position: relative;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 50%;
  column-gap: 1rem;
  grid-template-areas:
    'header img'
    'sub-heading img'
    'list-title img'
    'list img';

  .block-who__img {
    width: 109.1rem;
    position: relative;
    top: 2rem;
    grid-area: img;
  }
  .block-who__video-wrp {
    position: relative;
    display: none;
    grid-area: img;
    justify-self: center;
  }
  .block-who__video--mobile {
    top: 3rem;
    left: 2.5rem;
    width: 35rem;
    display: none;
    position: absolute;
    z-index: 2;
  }
  .block-who__img--mobile {
    position: relative;
    display: none;
    z-index: 3;
    position: relative;
    margin-bottom: 5rem;
  }
  .heading {
    margin-bottom: 2.2rem;
    max-width: 63.6rem;
    grid-area: header;
    font-size: 6rem;
    line-height: 7.2rem;
  }
  .sub-heading {
    max-width: 63rem;
    margin-bottom: 5rem;
    grid-area: sub-heading;
    line-height: 2.5rem;
  }
  .block-who__shere {
    margin: 0 0 1.8rem;
    font-size: 2.4rem;
    font-family: 'Gilroy-Bold';
    grid-area: list-title;
  }
  .block__list {
    grid-area: list;
  }
}

@include breakPoints(xs) {
  .main-block--who {
    padding-bottom: 9.7rem;
    column-gap: 0.3rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'sub-heading'
      'img'
      'list-title'
      'list';
    .block-who__img {
      display: none;
    }
    .block-who__video-wrp {
      position: relative;
      display: block;
      grid-area: img;
    }
    .block-who__video--mobile {
      display: block;
    }
    .block-who__img--mobile {
      display: block;
    }
    .heading {
      margin-bottom: 1.2rem;
    }
    .sub-heading {
      line-height: 3.6rem;
      font-size: 2.8rem;
      margin-bottom: 4rem;
    }
    .block-who__shere {
      font-size: 2.8rem;
      line-height: 3.6rem;
      margin-bottom: 1.2rem;
      height: max-content;
    }
    .block__list {
      row-gap: 0.7rem;
    }
    .list-item {
      padding-left: 3.9rem;
      font-size: 2.9rem;
      margin: 0;
      line-height: 3rem;
    }
  }
}
